
<%= form_for(@network) do |f| %>
  <% if @network.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@network.errors.count, "error") %> prohibited this network from being saved:</h2>

      <ul>
      <% @network.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class:"form-control" %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :network %><br>
      <%= f.text_field :network, class:"form-control" %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :vlan, "vLAN" %><br>
      <%= f.number_field :vlan, class:"form-control" %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_area :description, class:"form-control" %>
    </div>
  </div>
</div>
<hr class="hr-divide">
<div class="row">
  <div class="col-md-12">
    <div class="actions">
      <%= f.submit class:"btn btn-default" %>
    </div>
  </div>
</div>
<% end %>