<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-md-8">
		<table class="table datatable">
			<thead>
				<tr>
					<th>IP Address</th>
					<th>Device Name</th>
					<th>MAC Address</th>
					<th>Description</th>
					<th>Device Type</th>
				</tr>
			</thead>
			<tbody>
				<% @ip_list.each_host do |h| %>
					<tr>
						<td><%= h %></td>
						<%= find_device(@network, h) %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="col-md-4">
		<p>
		  <strong>Name:</strong>
		  <%= @network.name %>
		</p>

		<p>
		  <strong>Network:</strong>
		  <%= @network.network %>
		</p>

		<p>
		  <strong>Vlan:</strong>
		  <%= @network.vlan %>
		</p>

		<p>
		  <strong>Description:</strong>
		  <%= @network.description %>
		</p>
	</div>
</div>

<%= link_to 'Edit', edit_network_path(@network) %> |
<%= link_to 'Back', networks_path %>


<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addDevice" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Import Computers</h4>
      </div>
      <div class="modal-body">
        <h5>Importing Computer Records</h5>
        <p>
          Computer records can be imported from a CSV file. The file is required to have the first row as header titles. Valid header titles are below:
          <ul class="list-unstyled">
            <li><strong>id</strong> : Do not need unless updating a record</li>
            <li><strong>computer_name</strong> : Computer DNS name</li>
            <li><strong>serial_number</strong> : Computer serial number, required</li>
            <li><strong>ram</strong> : RAM amount (in GB)</li>
            <li><strong>hd_space</strong> : Hard drive capacity</li>
            <li><strong>hd_type</strong> : Type of hard drive (HD or SSD)</li>
            <li><strong>free_space</strong> : Free space of hard drive (in GB)</li>
            <li><strong>purchase_date</strong> : Purchase date of computer (YYYY/MM/DD) </li>
            <li><strong>expected_refresh</strong></li>
            <li><strong>warranty</strong> : Computer warranty status (Out of Warranty or In Warranty)</li>
            <li><strong>computer_type</strong> : Computer type (eg. iMac, Late 2009)</li>
          </ul>
        </p>
        <hr>
        <br>
        
          <div class="form-group">
           
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
        
      </div>
    </div>
  </div>
</div>


<script>


  $('.datatable').dataTable( {
    "bSort": false
  } );
</script>


