
<div class="row">
	<div class="col-md-8">
		<table class="table datatable">
			<thead>
				<tr>
					<th>IP Address</th>
					<th>Device Name</th>
					<th>MAC Address</th>
					<th>Description</th>
					<th>Device Type</th>
				</tr>
			</thead>
			<tbody>
				<% @ip_list.each_host do |h| %>
					<tr>
						<td><%= h %></td>
						<% @current_device = @devices.detect{|d| d.addresses.detect{|a| a.address.to_s == h.to_s}} 
							if @current_device %>
								<td><%= @current_device.name %></td>
								<td><%= @current_device.MAC %></td>
								<td><%= @current_device.notes %></td>
								<td><%= @current_device.device_group.name.singularize %></td>
								<% @current_device = nil %>
							<% else %>
								<td colspan="4"></td>
							<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="col-md-4">
		<p>
		  <strong>Name:</strong>
		  <%= @network.name %>
		</p>

		<p>
		  <strong>Network:</strong>
		  <%= @network.network %>
		</p>

		<p>
		  <strong>Vlan:</strong>
		  <%= @network.vlan %>
		</p>

		<p>
		  <strong>Description:</strong>
		  <%= @network.description %>
		</p>
	</div>
</div>

<%= link_to 'Edit', edit_network_path(@network) %> |
<%= link_to 'Back', networks_path %>





<script>


  $('.datatable').dataTable( {
    "bSort": false
  } );
</script>


