<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">device info</h4>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-9">
			<h4><%= @device.name %></h4>
			</div>
			<div class="col-xs-3">
				<div class="pull-right">
					<%= link_to 'view', device_group_show_path(@device.device_group.name, @device), class:'btn btn-default' %>
				</div>
			</div>
		</div>
		<hr class="hr-divide">
		<% if @device.checkedout %>
			<div class="alert alert-danger">
				Device was loaned to <%= @device.checkout_histories.last.name %> on <%= @device.checkout_histories.last.created_at.to_time.strftime("%-m-%-d-%Y") %>
			</div>
			<hr class="hr-divide">
		<% end %>
		<div class="row">
			<div class="col-md-6">
				<% if @device.asset_tag %>
					<strong>Asset Tag: </strong><%= @device.asset_tag %><br><br>
				<% end %>
			</div>
			<% @device.attr_devices.each do |attrb| %>
				<% if attrb.value != nil && attrb.value != '' %>
					<div class="col-md-6">
						<strong><%= attrb.attr.name %>: </strong><%= attrb.value %><br><br>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>