<% if @device.checkedout %>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 class="panel-title">Loaned Out</h4>
        <hr class="hr-divide">
        to <%= @device.checkout_histories.last.name %>
      </div>
    </div>
  </div>
<% end %>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <h4 class="panel-title">Asset Tag</h4>
      <hr class="hr-divide">
      <%= @device.asset_tag %>
    </div>
  </div>
</div>
<% @device.attr_devices.each do |attrb| %>
  <% if attrb.value != nil && attrb.value != '' %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4 class="panel-title"><%= attrb.attr.name %></h4>
          <hr class="hr-divide">
          <%= attrb.value %>
        </div> 
      </div>
    </div>
  <% end %>
<% end %>
<% unless @device.notes == '' || @device.notes == nil %>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 class="panel-title">Notes</h4>
        <hr class="hr-divide">
        <%= @device.notes %>
      </div>
    </div>
  </div>
<% end %>