<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">device info</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12">
						<h4><%= @device.name %></h4>
					</div>
				</div>
				<hr class="hr-divide">
				<% if @device.loaned %>
					<div class="alert alert-danger">
						Device was loaned to <%= @device.loans.last.loanee %> on <%= @device.loans.last.created_at.to_time.strftime("%-m-%-d-%Y") %>
					</div>
					<hr class="hr-divide">
				<% end %>
				<div class="row">
					<% @device.device_properties.each do |device_property| %>
						<% if device_property.value != nil && device_property.value != '' %>
							<div class="col-md-6">
								<h4>
									<%= fa_icon "#{device_property.property.fa_style}" if device_property.property.fa_style %>
									<%= device_property.property.name %>: <%= device_property.value %>
								</h4>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="panel-body">
	  		<%= link_to 'view', device_group_show_path(@device.device_group.name, @device), class:'btn btn-info pull-right' %>
	  		<%= link_to 'edit', device_group_edit_path(@device.device_group.name, @device), class:'btn btn-danger pull-right' %>
	  	</div>
    </div>
</div>





