<%= form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% @device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :status %><br>
      <%= f.select(:status, Device.statuses.keys.map {|status| [status.titleize, status]}, {include_blank: "Select status"}, {:class => "form-control"}) %>
    </div>
  </div>
  <%= hidden_field_tag :device_group_id, @device.device_group.id %>
  <% if @device.device_group %>
    <% @property_list.each do |p| %>
      <%= f.fields_for p, index: p.property.id do |property_fields| %>
        <div class="col-md-12">
          <div class="form-group">
            <%= property_fields.label :value, "#{p.property.name} #{p.property.unit}" %><br>
            <%= property_form_generator(property_fields, p) %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<hr class="hr-divide">
<div class="row">
  <div class="col-md-12">
  <br>
    <div class="actions">
      <%= f.submit class:"btn btn-default" %>
    </div>
  </div>
</div>
<% end %>
