<%= form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% @device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :asset_tag %><br>
    <%= f.text_field :asset_tag, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, class:"form-control" %>
  </div>
    <%= hidden_field_tag :device_group_id, @device.device_group.id %>
  <% if @device.device_group %>
    <% @attr_list.each do |a| %>
      <%= fields_for :attr_devices, a do |attr_fields| %>
        <div class="field">
          <%= attr_fields.label :value, "#{a.attr.name} #{a.attr.unit}" %><br>
          <%= attribute_form_generator(attr_fields, a) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <div class="actions">
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>
