<%= form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% @device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class:"form-control" %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :asset_tag %><br>
      <%= f.text_field :asset_tag, class:"form-control" %>
    </div>
  </div>
    <%= hidden_field_tag :device_group_id, @device.device_group.id %>
  <% if @device.device_group %>
    <% @attr_list.each do |a| %>
      <%= f.fields_for a, index: a.attr.id do |attr_fields| %>
        <div class="col-md-4">
          <div class="form-group">
            <%= attr_fields.label :value, "#{a.attr.name} #{a.attr.unit}" %><br>
            <%= attribute_form_generator(attr_fields, a) %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :notes %><br>
      <%= f.text_area :notes, class:"form-control", rows:'4' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  <br>
    <div class="actions">
      <%= f.submit class:"btn btn-default" %>
    </div>
  </div>
</div>
<% end %>
