<div class="row">
  <div class="col-xs-12">
    <div class="pull-right">
      <div id="search" class="search-form hidden-sm hidden-xs">
        <%= form_tag(devices_path, :method => "get", id: "search-form", class: "navbar-form navbar-right") do %>
          <div class="form-group">
            <%= label_tag :search %><br>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], placeholder: "Search Devices...", class:"form-control" %>
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3 hidden-xs hidden-sm">
    <h3><small>Device Types:</small></h3>
    <div class="bs-docs-sidebar">
      <ul class="nav bs-docs-sidenav">
        <% @device_types.each do |group| %>
          <li <%= cp(device_types_path(group.name)) %> > <%= link_to "#{group.name} (#{group.devices.count})", device_types_path(group.name) %> </li>
        <% end %>
      </ul>
    </div>
    <h3><small>Device Tasks:</small></h3>
    <div class="bs-docs-sidebar">
      <ul class="nav bs-docs-sidenav">
        <li><%= link_to "Loan Device", checkout_histories_path %></li>
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-xs-10">
        <h1>
          <% if params[:search] %>
            Search Results
            <small> for "<%= params[:search] %>"</small>
          <% else %>
            All <%= @device_group.name %>
          <% end %>
        </h1>
      </div>
      <div class="col-xs-2">
        <div class="pull-right">
          <br>
          <% unless params[:search] || params[:group] == 'all' %>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;<span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><%= link_to "Create #{@device_group.name.singularize}", device_group_new_path(@device_group.name) %></li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <hr class="hr-divide">

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">  
            <br>
            <% if @devices.count > 0 %>
              <% @devices.each do |device| %>
                <div class="col-md-4">
                  <div class="panel panel-<%= device.checkedout ? 'danger-dark' : 'default' %>">
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-xs-12">
                          <h4 class="panel-title">
                            <strong>
                              <%= link_to "#{device.name}", device_info_path(device), remote: true %>
                            </strong> &nbsp;&nbsp;&nbsp;
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="col-md-12">
                <h4>No <%= @device_group.name.downcase %> found. </h4>
                <br>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-12" id="device-info">
        
      </div>
    </div>
    <hr class="hr-divide">
  </div>
</div>
