<div class="row">
  <div class="col-md-3 hidden-xs hidden-sm">
    <div class="panel panel-default">
      <div class="panel-body">
      
        <div class="bs-docs-sidebar">
          <ul class="nav bs-docs-sidenav">
            <li <%= cp(device_types_path('all')) %> > <%= link_to "All Devices", device_types_path('all') %></li>
            <hr>
            <% @device_types.each do |group| %>
              <li <%= cp(device_types_path(group.name)) %> > <%= link_to "#{group.name} (#{group.devices.count})", device_types_path(group.name) %> </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="divider-vertical"></div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-xs-10">
        <h1>
          <% if params[:search] %>
            search results
            <small> for "<%= params[:search] %>"</small>
          <% else %>
            all <%= @device_group.name.downcase %>
          <% end %>
        </h1>
      </div>
      <div class="col-xs-2">
        <div class="pull-right">
          <br>
          <% unless params[:search] || params[:group] == 'all' %>
            <%= link_to device_group_new_path(@device_group.name), class:"btn btn-default" do %>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <% @devices_array.each do |devices| %>
        <% if devices.count > 0 %>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="list-group">
                <% devices.each do |device| %>
                  <%= link_to device_info_path(device), class:"list-group-item", remote: true do %>  
                    <h4><%= device.name %><span class="lbl-<%= device.status %> pull-right"><%= device.status.titleize %></span></h4>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade" id="device-modal" tabindex="-1" role="dialog" aria-labelledby="device-modal" aria-hidden="true"></div>
