<h1>All <%= @device_group.name %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Asset tag</th>
      <th>Notes</th>
      <th>Device Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.name %></td>
        <td><%= device.asset_tag %></td>
        <td><%= device.notes %></td>
        <td><%= device.device_group.name %></td>
        <td><%= link_to 'Show', device_group_show_path(@device_group.name, device) %></td>
        <td><%= link_to 'Edit', device_group_edit_path(@device_group.name, device) %></td>
        <td><%= link_to 'Destroy', device_group_show_path(@device_group.name, device), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New #{@device_group.name.singularize}", device_group_new_path(@device_group.name) %>
