<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @generic_network_device.name %>
</p>

<p>
  <strong>Mac:</strong>
  <%= @generic_network_device.MAC %>
</p>

<p>
  <strong>Description:</strong>
  <%= @generic_network_device.description %>
</p>

<%= link_to 'Edit', edit_generic_network_device_path(@generic_network_device) %> |
<%= link_to 'Back', generic_network_devices_path %>
