<div id="sidebar-wrapper">
  <nav class="navbar navbar-fixed-left" role="navigation">
    <div class="container">
      <div class="sidebar-header">
        <a href="#" id="toggle-menu">
          <span class="glyphicon glyphicon-th-list"></span>
        </a>
      </div>
      <ul class="nav sidebar-nav">
        <li class="sidebar-child">
          <a href="#" class="sidebar-child-toggle">Networks<span class="glyphicon glyphicon-list-alt"></span></a>
          <ul class="sidebar-child-menu">
            <li class="sidebar-child-title">Networks</li>
            <li><%= link_to 'View Networks', networks_path %></li>
            <li><%= link_to 'Create a Network', new_network_path %></li>
          </ul>
        </li>
        <li class="sidebar-child">
          <a href="#" class="sidebar-child-toggle">Devices<span class="glyphicon glyphicon-th-large"></span></a>
          <ul class="sidebar-child-menu">
            <li class="sidebar-child-title">Devices</li>
            <% @device_types.each do |group| %>
              <li><%= link_to "#{group.name}", device_types_path(group.name) %></li>
            <% end %>
            <li class="sidebar-child-divider"></li>
            <li><%= link_to "All Devices", device_types_path('all') %></li>
          </ul>
        </li>
        <li>
          <%= link_to people_path do %>
            People<span class="glyphicon glyphicon-user"></span>
          <% end %>
        </li>
        <li>
          <%= link_to inventory_items_path do %>
            Inventory<span class="glyphicon glyphicon-th"></span>
          <% end %>
        </li>
        <li>
          <%= link_to loans_path do %>
            Loans<span class="glyphicon glyphicon-share-alt"></span>
          <% end %>
        </li>
        <li class="sidebar-child">
          <a href="#" class="sidebar-child-toggle">Wiki<span class="glyphicon glyphicon-file"></span></a>
          <ul class="sidebar-child-menu">
            <li class="sidebar-child-title">Wiki</li>
            <% @wiki_pages.each do |page| %>
              <li><%= link_to page.page_name, wiki_show_path(page.page_reference) %></li>
            <% end %>
            <li class="sidebar-child-divider"></li>
            <li><%= link_to 'All Wiki Pages', wiki_pages_path %></li>
            <li><a href="#">Create new Page</a></li>
          </ul>
        </li>
        <% if current_user %>
          <li class="sidebar-child">
            <a href="#" class="sidebar-child-toggle">Settings<span class="glyphicon glyphicon-cog"></span></a>
            <ul class="sidebar-child-menu">
              <li class="sidebar-child-title">Settings</li>
              <% if current_user.admin? %>
                <li><%= link_to "Admin Dashboard", admin_dashboard_path %></li>
                <li class="sidebar-child-divider"></li>
              <% end %>
              <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
              <li><%= link_to 'Log Out', destroy_user_session_path, method:'delete' %></li>
            </ul>
          </li>
        <% end %>
        <li>
          <%= link_to new_search_path, remote: true do %>
            Search<span class="glyphicon glyphicon-search"></span>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</div>
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">tracksIT</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse pull-right">
      <% if current_user %>
        <p class="navbar-text">Signed in as <%= current_user.name %></p>
      <% else %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</nav><!-- /.navbar -->

<script>
    $("#toggle-menu").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
