<div class="panel panel-default">
  <table class="table">
    <tr>
      <td style="vertical-align:middle"><%= image_tag "http://placehold.it/75x75", class:"img-rounded", size:"75" %></td>
      <td style="vertical-align:middle">
        <h4>
          Test U.
        </h4>
        <p>
          Finance Department<br>
          800-555-5555<br>
          test@example.org
        </p>
      </td>
    </tr>
  </table>
  <div class="panel-body">
      <ul class="list-unstyled">
        <% @tags.each do |tag| %>
          <li><%= tag.name + " (#{tag.wikis.count})"%></li>
        <% end %>
      </ul>
  </div>
</div>

<%= link_to 'edit', '#', class:'btn btn-default btn-block enableEditing' %>
<%= link_to 'view all pages', wiki_pages_path, class:'btn btn-default btn-block' %>
<%= link_to 'delete', '#', class:'btn btn-danger btn-block', data: {toggle: "modal", target: "#page-modal"} %>
