<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :page_name %><br>
      <%= f.text_field :page_name, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :contents %><br>
      <%= f.cktext_area :contents %>
    </div>
    <%= f.hidden_field :page_reference %>
  </div>
</div>
<hr class="hr-divide">
<div class="row">
  <div class="col-md-12">
  <br>
    <div class="actions">
      <%= f.submit class:"btn btn-default" %>
    </div>
  </div>
</div>
<% end %>
