<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="myModalLabel">new loan</h4>
		</div>
		<%= form_for @loan, remote: true do |f| %>
			<div class="modal-body">
				<ul class="errors"></ul>
				<div class="row vertical-divider">
					<div class="col-md-8">
						<div class="form-group">
							<%= f.label :loanee %>
							<%= f.text_field :loanee, class:'form-control' %>
						</div>
						<div class="form-group">
							<%= f.label :notes %>
							<%= f.text_area :notes, class:'form-control' %>
						</div>
						<table class="table" id="loan">
							<thead>
								<tr>
									<th width="125">SKU / Asset Tag</th>
									<th>Description</th>
									<th width="75">Quantity</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<%= link_to 'add line item', '#', class:'add-line-item' %>
					</div>
					<div class="col-md-4">
						<div class="input-group" id="lookup">
							<span class="input-group-addon" id="search-addon"><span class="glyphicon glyphicon-search"></span></span>
							<input type="text" class="form-control lookup" placeholder="search..." aria-describedby="search-addon"/>
						</div>
						<div id="lookup-results">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<%= f.submit 'create', class: "btn btn-primary" %>
				<%= link_to "cancel", "#", class: "btn", data: {dismiss: "modal"} %>
			</div>
		<% end %>
	</div>
</div>

<script>
$(document).ready(function() {
	$('.add-line-item').on('click', function(event) {
		var unique_id = new Date().getTime();
		var template = "<%= escape_javascript(render 'loan_line_items_template') %>";
		var html = template.replace(/replace/g, unique_id);
		$('#loan tr:last').after(html);
		event.preventDefault();
	});
});

$(document).on("click", '.remove-line-item', function(event) { 
    $(this).parent().parent().remove();
    event.preventDefault();
});


$(document).on('click', 'a.add-lookup-item', function(event) {
	var lookupString = $(this).html();
	event.preventDefault();

	if ($("td:contains(" + lookupString + ")").length){
        var duplicateLine = $("td:contains(" + lookupString + ")").first().parent();
        var quantityField = duplicateLine.find('input.quantity-field');
        quantityField.val( function(i, oldval) {
		    return ++oldval;
		});
    }
    else {
    	var request = $.ajax({
			type: "GET",
			url: 'loans/search_by_sku_or_asset_tag',
			data: {query: lookupString},
			dataType: "html"
		});

		request.done(function(response, status, jqXHR){
			var unique_id = new Date().getTime();
			html = response.replace(/replace/g, unique_id);
			$('#loan tr:last').after(html);
		});
    }
});


$(document).on("keyup", ".search", detectSearch );

var currentSearchField;

function detectSearch(event){
	clearTimeout($.data(this, 'timer'));
	currentSearchField = this
		if (event.keyCode == 13)
			search(true);
		else
			$(this).data('timer', setTimeout(search, 500));
}

function search(force, element) {
		var existingString = $(currentSearchField).val();
		if (!force && existingString.length < 3) return; //wasn't enter, not > 2 char
		var request = $.ajax({
			type: "GET",
			url: 'loans/search_by_sku_or_asset_tag',
			data: {query: existingString},
			dataType: "html"
		});

		request.done(function(response, status, jqXHR){
			if( !$.trim(response)) {
				$(currentSearchField).parent().css( "background-color", "yellow" );
			} else {
				var unique_id = new Date().getTime();
				tableRow = $(currentSearchField).parent().parent();
				html = response.replace(/replace/g, unique_id);
				tableRow.replaceWith(html);
			}
		});
}

$('#lookup').on("keyup", ".lookup", detectLookup );

var currentLookupField;

function detectLookup(event){
	clearTimeout($.data(this, 'timer'));
	currentLookupField = this
		if (event.keyCode == 13)
			lookup(true);
		else
			$(this).data('timer', setTimeout(lookup, 500));
}

function lookup(force, element) {
		var existingString = $(currentLookupField).val();
		if (!force && existingString.length < 3) return; //wasn't enter, not > 2 char
		var request = $.ajax({
			type: "GET",
			url: 'loans/lookup',
			data: {query: existingString},
			dataType: "html"
		});

		request.done(function(response, status, jqXHR){
			if( !$.trim(response)) {
				$(currentLookupField).parent().css( "background-color", "red" );
			} else {
				var unique_id = new Date().getTime();
				$('#lookup-results').html(response);
			}
		});
}
</script>
