<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-3">
              <h4>Name:</h4>
            </div>
            <div class="col-md-9">
              <h4><%= @loan.loanee %></h4>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-3">
              <h4>Notes:</h4>
            </div>
            <div class="col-md-9">
              <h4><%= @loan.notes %></h4>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-2">
            <h4>SKU / Asset Tag</h4>
          </div>
          <div class="col-md-8">
            <h4>Description</h4>
          </div>
          <div class="col-md-2">
            <div class="pull-right">
              <h4>Quantity</h4>
            </div>
          </div>
        </div>
      </div>
      <ul class="list-group">
        <% @loan.loan_line_items.each do |line_item| %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-2">
                <% if line_item.loanable_type == 'Device' %>
                  <%= link_to device_group_show_path(line_item.loanable.device_group.name, line_item.loanable) do %>
                    <h4><%= line_item.identifier %></h4>
                  <% end %>
                <% elsif line_item.loanable_type == 'InventoryItem' %>
                  <%= link_to inventory_item_path(line_item.loanable) do %>
                    <h4><%= line_item.identifier %></h4>
                  <% end %>
                <% else %>
                  <h4><%= line_item.identifier %></h4>
                <% end %>
              </div>
              <div class="col-md-9">
                <h4><%= line_item.description %></h4>
              </div>
              <div class="col-md-1">
                <div class="pull-right">
                  <h4><%= line_item.quantity %></h4>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
