<tr>
	<td>
		<%= @inventoryResults.first.sku %>
		<%= hidden_field_tag 'loan[loan_line_items_attributes][replace][identifier]', @inventoryResults.first.sku %>
		<%= hidden_field_tag 'loan[loan_line_items_attributes][replace][loanable_id]', @inventoryResults.first.id %>
		<%= hidden_field_tag 'loan[loan_line_items_attributes][replace][loanable_type]', 'InventoryItem' %>
	</td>
	<td>
		<%= text_area_tag 'loan[loan_line_items_attributes][replace][description]', @inventoryResults.first.description, class:'form-control' %>
	</td>
	<td>
		<%= text_field_tag 'loan[loan_line_items_attributes][replace][quantity]', nil, class:'form-control' %>
	</td>
</tr>
