<tr>
	<td>
		<%= @devicePropertiesResults.value %>
		<%= hidden_field_tag 'loan[loan_line_items_attributes][][identifier]', @devicePropertiesResults.value %>
		<%= hidden_field_tag 'loan[loan_line_items_attributes][][loanable_id]', @devicePropertiesResults.device_id %>
		<%= hidden_field_tag 'loan[loan_line_items_attributes][][loanable_type]', 'Device' %>
	</td>
	<td>
		<%= text_area_tag 'loan[loan_line_items_attributes][][description]', @devicePropertiesResults.device.name, class:'form-control' %>
	</td>
	<td>
		<%= text_field_tag 'loan[loan_line_items_attributes][][quantity]', nil, disabled: true, class:'form-control' %>
	</td>
</tr>

