<tr>
	<td>
		<%= @inventoryResults.first.sku %>
		<%= hidden_field_tag 'loan[loan_line_items_attributes][replace][identifier]', @inventoryResults.first.sku %>
		<%= hidden_field_tag 'loan[loan_line_items_attributes][replace][loanable_id]', @inventoryResults.first.id %>
		<%= hidden_field_tag 'loan[loan_line_items_attributes][replace][loanable_type]', 'InventoryItem' %>
	</td>
	<td>
		<%= text_area_tag 'loan[loan_line_items_attributes][replace][description]', @inventoryResults.first.description, class:'form-control' %>
	</td>
	<td>
		<%= text_field_tag 'loan[loan_line_items_attributes][replace][quantity]', '1', class:'form-control quantity-field' %>
	</td>
	<td><%= link_to '&times;'.html_safe, '#', class:"btn btn-sm btn-danger remove-line-item" %></td>
</tr>
