<p>
  <strong>Address:</strong>
  <%= @address.address %>
</p>

<p>
  <strong>Device:</strong>
  <%= @address.device_id %>
</p>

<p>
  <strong>Device type:</strong>
  <%= @address.device_type %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
