<div class="row">
	<div class="col-md-3 hidden-sm hidden-xs">
		<%= render 'shared/admin_sidebar' %>
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-xs-10">
				<h1><%= @device_group.name %></h1>
			</div>
			<div class="col-xs-2">
				<div class="pull-right">
					<br>
				      <div class="btn-group">
				        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				          <span class="glyphicon glyphicon-cog"></span>&nbsp;<span class="caret"></span>
				        </button>
				        <ul class="dropdown-menu dropdown-menu-right" role="menu">
				          <li><%= link_to "Add attribute", new_attr_path(:device_group_id => @device_group.id), remote: true %></li>
				          <li><%= link_to "Create New Device Group", new_admin_device_group_path %></li>
				          <li><%= link_to "Edit Device Group", edit_admin_device_group_path(@device_group) %></li>
				          <li><%= link_to "Delete Device Group", admin_device_group_path(@device_group), method: :delete, data: { confirm: 'Are you sure?' } %></li>
				        </ul>
				      </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2><small>Attributes</small></h2>
				<div class="row">
					<div class="col-md-8">
						<div class="panel panel-default">
							<div class="panel-body" id="attr-index">
								<%= render 'show_index' %>
							</div>
						</div>
					</div>
					<div class="col-md-4" id="attr-sidebar">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">Attribute Information</h4>
							</div>
							<div class="panel-body">
								Select an attribute to the left to view more information
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr class="hr-divide">
		<div class="row">
			<div class="col-md-12">
				<a href="<%= admin_device_groups_path %>" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back</a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="attr-modal" tabindex="-1" role="dialog" aria-labelledby="attr-modal" aria-hidden="true"></div>
