<%= form_for(@printer) do |f| %>
  <% if @printer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@printer.errors.count, "error") %> prohibited this printer from being saved:</h2>

      <ul>
      <% @printer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :namufacturer %><br>
    <%= f.text_field :namufacturer %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :MAC %><br>
    <%= f.text_field :MAC %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :print_queue %><br>
    <%= f.text_field :print_queue %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
