<%= form_for @checkout_history, remote: true do |f| %>
  <div class="modal-body">
    <ul class="errors"></ul>
    <div class="row">
      <div class="col-md-12">
        <% if @device %>
          <%= hidden_field_tag :device_id, @device.id %>
          <%= hidden_field_tag :add_from_device, :true %>
        <% else %>
          <div class="form-group">
            <%= label_tag :device_type,"Device Type" %>
            <%= select_tag :device_type, options_for_select(@device_groups), class:'form-control',:prompt => "Please select..." %>
          </div>
          <div class="form-group" id="devices_select">
            <%= f.label :device_id %><br>
            <%= f.collection_select :device_id, Device.all, :id, :name, {:include_blank => "Please select above..."}, {:class => "form-control"} %>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :name %><br>
          <%= f.text_field :name, class:"form-control", :placeholder => 'Enter name of the person who the device is being loaned to.' %>
        </div>
        <div class="form-group">
          <%= f.label :notes %><br>
          <%= f.text_area :notes, class:"form-control" %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit 'loan device', class: "btn btn-primary" %>
    <%= link_to "cancel", "#", class: "btn", data: {dismiss: "modal"} %>
  </div>
<% end %>



<script>
  $(document).ready(function() {
    $('#device_type').change(function() {
        $.ajax({
           url: "<%= device_type_loan_path %>",
           data: {
               device_type: $("#device_type option:selected").val()
           },
           dataType: "script"
        });
    });
  });
</script>