<%= form_for(@checkout_history) do |f| %>
  <% if @checkout_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checkout_history.errors.count, "error") %> prohibited this checkout_history from being saved:</h2>

      <ul>
      <% @checkout_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= label_tag :device_type,"Device Type" %>
      <%= select_tag :device_type, options_for_select(@device_groups), class:'form-control',:prompt => "Please select..." %>
    </div>
    <div class="form-group" id="devices_select">
      <%= f.label :device_id %><br>
      <%= f.collection_select :device_id, Device.all, :id, :name, {:include_blank => "Please select above..."}, {:class => "form-control"} %>
    </div>
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class:"form-control", :placeholder => 'Enter name of the person who the device is being loaned to.' %>
    </div>
    <div class="form-group">
      <%= f.label :notes %><br>
      <%= f.text_area :notes, class:"form-control" %>
    </div>
    <hr class="hr-divide">
    <div class="actions">
      <%= f.submit "Loan Device", class:"btn btn-default" %>
    </div>
  </div>
</div>
<% end %>



<script>
  $(document).ready(function() {
    $('#device_type').change(function() {
        $.ajax({
           url: "<%= device_type_loan_path %>",
           data: {
               device_type: $("#device_type option:selected").val()
           },
           dataType: "script"
        });
    });
  });
</script>