<% if @checkout_histories.count > 0 %>
  <% @checkout_histories.each do |checked_out| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="pull-right">
            <%= link_to "check in", checkin_path(checked_out), remote: true, class:"btn btn-default" %>
          </div>
          <h4><%= checked_out.device.name %></h4>
          <hr class="divide">
          <strong>Device Type: </strong><%= checked_out.device.device_group.name.singularize %><br>
          <strong>Loaned Out On: </strong><%= checked_out.created_at.to_time.strftime("%-m-%-d-%Y") %><br>
          <strong>Loaned To: </strong><%= checked_out.name %><br>
          <strong>Asset Tag: </strong><%= checked_out.device.asset_tag %><br>
          <strong>Notes: </strong><%= checked_out.notes %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="col-md-12">
    <h3>No devices are loaned out at this time.</h3>
  </div>
<% end %>