<p id="notice"><%= notice %></p>

<p>
  <strong>Device:</strong>
  <%= @checkout_history.device_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @checkout_history.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @checkout_history.notes %>
</p>

<%= link_to 'Edit', edit_checkout_history_path(@checkout_history) %> |
<%= link_to 'Back', checkout_histories_path %>
