<%= form_for(@user, :url => admin_users_path) do |f| %>
<div class="form-group">
	<%= f.label :email %>
	<%= f.email_field :email, class:"form-control" %>
</div>
<div class="form-group">
	<%= f.label :password %>
	<%= f.password_field :password, class:"form-control" %>
</div>
<div class="form-group">
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation, class:"form-control" %>
</div>
<hr class="hr-divide">
<div clas="form-group">
	<%= f.submit class:"btn btn-default" %>
</div>
<% end %>