<%= form_for(@attr) do |f| %>
  <% if @attr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attr.errors.count, "error") %> prohibited this attr from being saved:</h2>

      <ul>
      <% @attr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :style %><br>
      <%= f.select(:style, Attr.valid_styles { |value| [ value, value ] }, { :include_blank=>true }, { :class => 'form-control' }) %>
    </div>
    <div class="form-group">
      <%= f.label :unit %><br>
      <%= f.text_field :unit, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :values %><br>
      <%= f.text_area :values, class:"form-control" %>
    </div>
    
    <div class="actions">
      <%= f.submit "Update Attribute",  class:"btn btn-primary" %>
    </div>
  </div>
</div>
<% end %>

