<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">Attribute Information</h4>
	</div>
	<div class="panel-body">
		<%= @attr.name %>
		<hr class="hr-divide">
		<% if @attr.style != '' && @attr.style != nil %>
			<strong>Attribute Type: </strong><%= @attr.style %><br>
		<% end %>
		<% if @attr.unit != '' && @attr.unit != nil %>
			<strong>Attribute Unit: </strong><%= @attr.unit %></br>
		<% end %>
		<% if @attr.values != '' && @attr.values != nil %>
			<strong>Attribute Values: </strong><%= @attr.values %></br>
		<% end %>
	</div>
</div>
<%= link_to 'edit', edit_attr_path(@attr), remote: true, class:'btn btn-default btn-block' %>