<h1>Listing attrs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attrs.each do |attr| %>
      <tr>
        <td><%= attr.name %></td>
        <td><%= link_to 'Show', attr %></td>
        <td><%= link_to 'Edit', edit_attr_path(attr) %></td>
        <td><%= link_to 'Destroy', attr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attr', new_attr_path %>
